 /*GENERAL CSS*/
body{
	font-size: 16px;
	margin: 0px;

}
#nav{
	background-color: #C86F9E;
	margin: 0px;
}
#nav-list{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#nav-list li{
	/*float: left;*/
	display: inline-block;
	margin-right: 10px;
}
li, a{
	Display: Block;
}
a{
	padding: 10px;
	text-decoration: none;
	color: black;
}
#image{
	background-image: url(travel.jpg);
	background-size: cover;
	background-position: center center;
	padding-top: 300px;
	padding-bottom: 300px;
}